/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
/* Recipes demo */
.td-cook-book .td-header-logo-wrap {
  padding: 0;
}
.td-cook-book .td-header-logo-wrap .td-container {
  width: 100%;
}
.td-cook-book .td_module_rd_2 .entry-title {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 23px;
}
.td-cook-book .td_module_rd_2 .entry-title:after {
  display: none;
}
.td-cook-book .td-mx-15 .entry-title {
  font-size: 17px;
  line-height: 21px;
}
.td-cook-book .td-mx-19 .entry-title {
  font-size: 21px;
  line-height: 25px;
}
.td-cook-book .footer-social-wrap {
  margin-bottom: 0;
}
.td-cook-book .footer-social-wrap:after {
  display: none;
}
.td-cook-book .td-social-icon-wrap i {
  margin-right: 0;
}
.td-cook-book .td-social-name {
  display: none;
}
